.main-container {
    flex: 1;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1168px;
    background-color: rgba(233, 238, 238, 0.5);
    background: linear-gradient(150deg, rgba(233, 238, 238, 1), rgba(233, 238, 238, 0.1));
    padding: 1rem;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1168px;
    background-color: #ffffff;
}

blockquote {
    text-align: center;
    padding: 1rem 1.25rem;
    margin: 1.5rem 0;
    border-left: 8px solid coral;
    background-color: beige;
    font-size: 1.25rem;
}

.blockquote-footer {
    display: block;
    font-size: 80%;
    color: #6c757d;
}

.blockquote-footer::before {
    content: '\2014\00A0';
}

a {
    color: #024dbc;
    text-decoration: none;
}

a:hover {
    color: coral;
    text-decoration: none;
}

.link {
    position: relative;
    padding-top: 0.25rem;
    display: inline-block;
    transition: 0.3s;
    color: #024dbc !important;
}

.link::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 1px;
    content: '';
    background-color: transparent;
    transition: width 0.30s, left 0.30s, background-color 1s;
}

.link:hover {
    color: coral !important;
    transition: 0.3s;
    text-decoration: none;
}

.link:hover::after {
    width: 100%;
    left: 0;
    background-color: coral;
    transition: width 0.30s, left 0.30s, background-color 1s;
}
