.header {
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 128, 0, 1);
    background-image: linear-gradient(rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0.5)), url('/images/header_bg.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    padding: 0.25rem;
    z-index: 1;
}

.headerRight {
    flex: 0 0 100px;
    position: relative;
    height: 100px;
    margin: 0;
}

.logoText {
    color: rgb(255, 235, 120, 1);
    text-align: center;
    font-weight: bolder;
    font-size: 1.35rem;
    line-height: 1;
}

.motto {
    color: rgba(255, 232, 80, 1);
    padding: 0;
    text-align: center;
    font-size: 0.7rem;
    line-height: 1;
}

.profileImage {
    width: auto;
    max-width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s;
}

.profileImage:hover {
    width: auto;
    max-width: 240px;
    height: 240px;
    transition: 0.3s;
    z-index: 2;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

@media (min-width: 480px) {
    .logoText {
        font-size: 1.5rem;
    }

    .motto {
        font-size: 0.8rem;
    }

    .profileImage {
        width: auto;
        max-width: 120px;
        height: 120px;
    }

    .headerRight {
        flex: 0 0 120px;
        height: 120px;
    }
}

@media (min-width: 768px) {
    .logoText {
        font-size: 2.5rem;
    }

    .motto {
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .profileImage {
        width: auto;
        max-width: 150px;
        height: 150px;
    }

    .profileImage:hover {
        width: auto;
        max-width: 400px;
        height: 400px;
    }

    .headerRight {
        flex: 0 0 150px;
        height: 150px;
    }
}
