.nav {
    background-color: #ffffff;
    border-bottom: 2px rgba(0, 128, 0, 0.5) solid;
    margin-bottom: 1rem;
    padding: 0 0 0.25rem 0;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.navLeft {
    display: flex;
}

.navItem {
    display: block;
    margin: 0 0.5rem;
    padding: 0.25rem;
    white-space: nowrap;
    position: relative;
    color: #008000;
    transition: width 0.3s, left 0.3s, background-color 1s;
}

.navItem::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 3px;
    content: '';
    background-color: transparent;
    transition: width 0.3s, left 0.3s, background-color 1s;
}

.navItem:hover {
    text-decoration: none;
    color: coral;
    background-color: #ffffff;
    cursor: pointer;
}

.navItem:hover::after {
    width: 100%;
    left: 0;
    background-color: coral;
    transition: width 0.3s, left 0.3s, background-color 1s;
}

.navItemCurrent {
    margin: 0 0.5rem;
    padding: 0.25rem;
    white-space: nowrap;
    position: relative;
    color: rgba(0, 0, 0, 0.60);
}

.navItemCurrent::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    background-color: rgba(0, 0, 0, 0.40);
    transition: width 0.3s, left 0.3s, background-color 1s;
}

@media (min-width: 480px) {
    .navbar {
        justify-content: flex-start;
    }

    .navLeft {
        font-size: 1.1rem;
    }
}
